<div class="row" id="tableHeader">

    <div class="col-md-6 col-xs-12">
        <h3>Sales Person Table</h3>
    </div>

    <div class="col-md-4 col-md-offset-2 col-xs-12">
        <input type="text" class="form-control  salesSearch" placeholder="Enter Name" ng-model="searchTerm"/>

        <span id="searchClear" class="glyphicon glyphicon-remove-circle" ng-click="inputClear()" ng-show="searchTerm.length > 0"></span>
    </div>


</div>

<div class="table-responsive" id="tableRow" ng-show="searchTerm.length > 0">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="order('businessEntityId')">Sales Person ID</a>
                    <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                    <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicate == 'businessEntityId' && reverse"></span>
                    <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                    <span class="glyphicon glyphicon-triangle-top" ng-show="predicate == 'businessEntityId' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('firstName')">First Name</a>
                    <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                    <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicate == 'firstName' && reverse"></span>
                    <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                    <span class="glyphicon glyphicon-triangle-top" ng-show="predicate == 'firstName' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('lastName')">Last Name</a>
                    <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                    <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicate == 'lastName' && reverse"></span>
                    <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                    <span class="glyphicon glyphicon-triangle-top" ng-show="predicate == 'lastName' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('jobTitle')">Job Title</a>
                    <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                    <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicate == 'jobTitle' && reverse"></span>
                    <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                    <span class="glyphicon glyphicon-triangle-top" ng-show="predicate == 'jobTitle' && !reverse"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="salesPerson in salesPersonCtrl.salesPersonFull | filter: searchTerm | orderBy: predicate:reverse" ng-click="display(salesPerson)" data-toggle="modal" data-target="#myModal">
                <td>{{salesPerson.businessEntityId}}</td>
                <td>{{salesPerson.firstName}}</td>
                <td>{{salesPerson.lastName}}</td>
                <td>{{salesPerson.jobTitle}}</td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--product is a scope variable and is set to whatever product the user clicks on-->
                    <h2 class="modal-title" id="myModalLabel">Sales Headers - {{person.firstName}} {{person.lastName}}</h2>
                </div>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="orderModal('salesOrderNumber')">Sales Order ID</a>
                                <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicateModal == 'salesOrderNumber' && reverseModal"></span>
                                <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                                <span class="glyphicon glyphicon-triangle-top" ng-show="predicateModal == 'salesOrderNumber' && !reverseModal"></span>
                            </th>
                            <th>
                                <a href="" ng-click="orderModal('purchaseOrderNumber')">Purchase Order Number</a>
                                <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicateModal == 'purchaseOrderNumber' && reverseModal"></span>
                                <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                                <span class="glyphicon glyphicon-triangle-top" ng-show="predicateModal == 'purchaseOrderNumber' && !reverseModal"></span>
                            </th>
                            <th>
                                <a href="" ng-click="orderModal('subTotal')">Sub Total</a>
                                <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicateModal == 'subTotal' && reverseModal"></span>
                                <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                                <span class="glyphicon glyphicon-triangle-top" ng-show="predicateModal == 'subTotal' && !reverseModal"></span>
                            </th>
                            <th>
                                <a href="" ng-click="orderModal('totalDue')">Total Due</a>
                                <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="predicateModal == 'totalDue' && reverseModal"></span>
                                <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                                <span class="glyphicon glyphicon-triangle-top" ng-show="predicateModal == 'totalDue' && !reverseModal"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="salesHeader in salesHeaders | orderBy: predicateModal:reverseModal">
                            <td>{{salesHeader.salesOrderNumber}}</td>
                            <td>{{salesHeader.purchaseOrderNumber}}</td>
                            <td>{{salesHeader.subTotal}}</td>
                            <td>{{salesHeader.totalDue}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
