<div class="row" id="tableHeader">

    <div class="col-md-6 col-xs-12">
        <h3>Employee Table</h3>
    </div>

    <div class="col-md-4 col-md-offset-2 col-xs-12">
        <!-- the model of searchTerm will be used to filter the product table and is an example of two way data binding -->
        <input type="text" class="form-control  salesSearch" placeholder="search" ng-model="searchTerm" />
        <!-- if ng-show evaluates to true the 'x' icon will show up so if the length of the model searchTerm is > 0 it will be true -->
        <!-- meaning if there is text in the search box the input clear button will appear -->
        <!-- when clicked it calls the inputClear function in ProductLookupController which contains javascript and jquery that clears search box -->
        <span id="searchClear" class="fa fa-times-circle-o" ng-click="inputClear()" ng-show="searchTerm.length > 0"></span>
    </div>
</div>

<div class="table-responsive" id="tableRow">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <!--when header is clicked call order function in scope passing the string of the attribute-->
                    <a href="" ng-click="order('businessEntityId')">ID</a>
                    <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                    <span class="fa fa-sort-desc" ng-show="predicate == 'businessEntityId' && reverse"></span>
                    <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                    <span class="fa fa-sort-asc" ng-show="predicate == 'businessEntityId' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('firstName')">First Name</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'firstName' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'firstName' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('lastName')">Last Name</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'lastName' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'lastName' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('jobTitle')">Job Title</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'jobTitle' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'jobTitle' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('vacationHours')">Vacation Hours</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'vacationHours' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'vacationHours' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('sickLeaveHours')">Sick Leave Hours</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'sickLeaveHours' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'sickLeaveHours' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('organizationLevel')">Level</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'organizationLevel' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'organizationLevel' && !reverse"></span>
                </th>
            </tr>
        </thead>
        <!-- filter is data binded with the form model searchTerm -->
        <!-- orderBy the predicate which is a string and the argumetn for the filter is reverse which can be true or false -->
        <!-- if reverse is false ascending if true is decending  -->
        <tbody>
            <tr ng-repeat="emp in VacCtrl.employees | filter: searchTerm | orderBy: predicate:reverse" ng-click="showProduct(emp)" data-toggle="modal" data-target="#myModal">
                <!-- we are repeating a table row for every employee in our controller instance variable employees -->
                <td>{{emp.businessEntityId}}</td>
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.jobTitle}}</td>
                <td>{{emp.vacationHours}}</td>
                <td>{{emp.sickLeaveHours}}</td>
                <td>{{emp.organizationLevel}}</td> 
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--product is a scope variable and is set to whatever product the user clicks on-->
                    <h2 class="modal-title" id="myModalLabel">{{employee.firstName}} {{employee.lastName}}</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <p><strong>Vacation Hours Remaining :</strong>  {{employee.vacationHours - vacHoursTaken}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="number" class="form-control vacHourInput" placeholder="Vacation Hours Taken" ng-model="vacHoursTaken" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- pressing submit will run a function that changes the object the effect will be lost on page refresh until we have a way to insert into database if we even want to do that -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit(employee,vacHoursTaken)">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>