.modal-footer {
    border-top: 0;
    padding-top: 0;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bannerDiv {
    margin-bottom: 20px;
}

.logoDiv {
    margin-bottom: 20px;
}
/*.modal {
/*solve large modal scrolling issue
    position: absolute;
}*/
