<div class="row" id="tableHeader">

    <div class="col-md-6 col-xs-12">
        <h3>Territory Table</h3>
    </div>

    <div class="col-md-4 col-md-offset-2 col-xs-12">
        <!-- the model of searchTerm will be used to filter the product table and is an example of two way data binding -->
        <input type="text" class="form-control  salesSearch" placeholder="search" ng-model="searchTerm" />
        <!-- if ng-show evaluates to true the 'x' icon will show up so if the length of the model searchTerm is > 0 it will be true -->
        <!-- meaning if there is text in the search box the input clear button will appear -->
        <!-- when clicked it calls the inputClear function in ProductLookupController which contains javascript and jquery that clears search box -->
        <span id="searchClear" class="fa fa-times-circle-o" ng-click="inputClear()" ng-show="searchTerm.length > 0"></span>
    </div>
</div>

<div class="table-responsive" id="tableRow">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <!--when header is clicked call order function in scope passing the string of the attribute-->
                    <a href="" ng-click="order('territoryId')">ID</a>
                    <!-- down arrow will show only if the predicate matches the header and reverse is true meaning descending -->
                    <span class="fa fa-sort-desc" ng-show="predicate == 'territoryId' && reverse"></span>
                    <!-- up arrow will show only if the predicate matches the header and the reverse is false meaning ascending -->
                    <span class="fa fa-sort-asc" ng-show="predicate == 'territoryId' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('name')">Name</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'name' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'name' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('salesYTD')">Sales YTD</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'salesYTD' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'salesYTD' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('salesLastYear')">Prior Year Sales</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'salesLastYear' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'salesLastYear' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('countryRegionCode')">Country Code</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'countryRegionCode' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'countryRegionCode' && !reverse"></span>
                </th>
                <th>
                    <a href="" ng-click="order('group')">Group</a>
                    <span class="fa fa-sort-desc pull-right" ng-show="predicate == 'group' && reverse"></span>
                    <span class="fa fa-sort-asc pull-right" ng-show="predicate == 'group' && !reverse"></span>
                </th>
            </tr>
        </thead>
        <!-- filter is data binded with the form model searchTerm -->
        <!-- orderBy the predicate which is a string and the argumetn for the filter is reverse which can be true or false -->
        <!-- if reverse is false ascending if true is decending  -->
        <tbody>
            <tr ng-repeat="territory in TerritoryCtrl.territories | filter: searchTerm | orderBy: predicate:reverse" ng-click="showTerritory(territory)" data-toggle="modal" data-target="#myModal">
                <!-- we are repeating a table row for every territory in our controller instance variable territories -->
                <td>{{territory.territoryId}}</td>
                <td>{{territory.name}}</td>
                <td>{{territory.salesYTD | currency}}</td>
                <td>{{territory.salesLastYear | currency}}</td>
                <td>{{territory.countryRegionCode}}</td>
                <td>{{territory.group}}</td>

            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- territory is a scope variable set when the user clicks a territory -->
                    <h2 class="modal-title" id="myModalLabel">{{territory.name}}</h2>
                </div>
                <div class="modal-body">
                    <!-- terrSalesPeople is set when the user clicks a territory and contains a list of all sales people assigned to clicked territory -->
                    <div class="row" ng-repeat="person in terrSalesPeople">
                        <div class="col-md-12">
                            <ul class="list-unstyled">
                                <!-- we are repeating on every key value pair in the person object to fill out the list -->
                                <li ng-repeat="(key,value) in person">
                                    <strong>{{key}}</strong> : {{value}}
                                </li>
                            </ul>
                            <hr />
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    </div>